<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <h1 class="display-3">Booked your slot successfully</h1>
    <p class="lead">Avoid crowds and close contact. Wear a properly fitted mask when physical distancing is not possible and in poorly ventilated settings. Clean your hands frequently with alcohol-based hand rub or soap and water. Cover your mouth and nose with a bent elbow or tissue when you cough or sneeze.</p>
    <hr>
    <a href="/logout" class="danger">Logout</a>
  </div>
</div>

<%- include('partials/footer') %>
