<%- include('partials/header') %>

<div class="container">

  <div class="jumbotron centered">

    <h1 class="display-3">ADMIN</h1>

    <form action="/submit" method="POST">
      <div class="form-group">
        <table class="table table-bordered table-hover dt-responsive">
          <p class="secret-text">Add vaccination center</p>
          <p>For removing just fill vaccinationCenterName</p>
          <tbody>
            <tr>
              <input class="form-control text-center" type="text" name="vaccinationCenterName" placeholder="vaccinationCenterName">
              <input class="form-control text-center" type="text" name="Start_WorkingHour" placeholder="Start_WorkingHour">
              <input class="form-control text-center" type="text" name="End_workingHour" placeholder="End_workingHour">
            </tr>
          </tbody>
        </table>
      </div>
      <button type="submit" class="btn btn-dark" name="submitBtn" value="add">ADD</button>
      <button type="submit" class="btn btn-dark" name="submitBtn" value="remove">REMOVE</button>

      <a href="/ADMIN"><button class="btn btn-light btn-lg" type="button" name="button">View dosage details</button></a>

    </form>
  </div>
</div>
<%- include('partials/footer') %>
